/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
/*upsurge*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');
/*footwe*/

:root{
  --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
  --border:.1rem solid rgba(0,0,0,.1);
}
*{
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  text-decoration: none;
  transition: .2s linear;
}

body {
  /* height: 100vh; */
  /* background-color: var(--body-color); */
  background-image: url("/img/1111.png");
  /* background-repeat: no-repeat; */
  background-size: cover;
  background-repeat: repeat-y;
}
html{
  font-size: 0.890rem;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
}
section{
  padding:2rem 3.5%;
}




/*Nav Bar Start*/

nav {
  top: 0;
  left: 0;
  height: 4.375rem;
  width: 100%;
  background-color: var(--nav-color);
  z-index: 100;
  color:white ;
  /* justify-content: left; */
}

body.dark nav {
  border: 0.0625rem solid #393838;

}

nav .nav-bar {
  position: relative;
  height: 95%;
  max-width: 62.5rem;
  width: 100%;
  background-color: var(--nav-color);
  margin: 0 auto;
  padding: -1 1.875rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 85%;
}
nav .nav-bar .logo img{
  /*background-color: #000000;*/
  width: 100%;
  /*background-blend-mode: screen;*/
}

nav .nav-bar .sidebarOpen {
  color: white;
  font-size: 1.5625rem;
  padding: 0.3125rem;
  cursor: pointer;
  display: none;
}

.menu .logo-toggle {
  display: none;
}

.nav-bar .nav-links {
  display: flex;
  align-items: center;
}

.nav-bar .nav-links li {
  margin: 0 0.3125rem;
  list-style: none;
}

.nav-links li a {
  position: relative;
  font-size: 1.5rem;
  font-weight: 400;
  color: white;
  text-decoration: none;
}

.nav-links li a::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: white;
  opacity: 0;
  transition: all 0.3s ease;
}

.nav-links li:hover {
  background-color: #A5C9CA;
  border-radius: 5%;
  margin-bottom: -5%;
}





/*Nav Bar End*/


/*Upsurge Title*/

.upsurge {
  font-size: 500%;
  margin-top: 18%;
  margin-left: 6%;
  color: white;
}

.upsurge h {
  font-family: 'Oswald', sans-serif;
}

.upsurge p {
  font-size: 20%;
  text-align: left;
}

/*Upsurge Title End*/

/*Timer*/

.countdown {
  color: rgb(255, 255, 255);
  margin: 0 auto;
  text-align: center;
  margin-top: 40%;
  padding: 0.28rem;
  
}

h1 {
  font-weight: normal;
  letter-spacing: .125rem;
  text-transform: uppercase;
}

li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

li span {
  display: block;
  font-size: 4.5rem;
}


/*Timer End*/


/* --------------------shedule------------- */
.event-container {
  font-family: "Roboto", sans-serif;
  max-width: 800px;
  margin: 0 auto;
}

.event-container h3.year {
  font-size: 3rem;
  text-align: center;
  border-bottom: 1px solid #b1b1b1;
}

.event-container .event {
  box-shadow: 0 4px 16px -8px rgba(0, 0, 0, 0.4);
  display: flex;
  border-radius: 8px;
  margin: 32px 0;
}

.event .event-left {
  background: #222;
  min-width: 82px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #eee;
  padding: 8px 48px;
  font-weight: bold;
  text-align: center;
  border-radius: 8px 0 0 8px;
}

.event .event-left .date {
  font-size: 56px;
}

.event .event-left .month {
  font-size: 16px;
  font-weight: normal;
}

.event .event-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 24px;
}

.event .event-right h3.event-title {
  font-size: 24px;
  margin: 24px 0 10px 0;
  color: #218bbb;
  text-transform: uppercase;
}

.event .event-right .event-timing {
  background: #222222;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  padding: 8px;
  border-radius: 16px;
  margin: 24px 0;
  font-size: 14px;
}

.event .event-right .event-timing img {
  height: 20px;
  padding-right: 8px;
}



.event {
  color: white;
  text-align: center;
  font-size: 1.8rem;
  margin-top: 10%;
  font-family: 'Cinzel', serif;
}
.event h{
  font-size: 5.27rem;
  margin: 10%;
}

.main_event {
  position: relative;
  width: 950px;
  padding: 20px;
  border-radius: 10px;
  height: 50%;
  margin: auto;
}

.left,
.right {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50px;
}

.left {
  top: 50%;
  Left: -35px;
}

.right {
  right: -50px;
  bottom: 25%;
}

.item-div {
  overflow-x: auto;
  display: flex;
}

.item {
  min-width: 50%;
  max-width: 55%;
  margin-Left: 15px;
  height: 350px;
  border-radius: 20px;
  background: grey;
  margin-top: 8%;
}

.item:first-child {
  margin-Left: 0;
}

.item-div::-webkit-scrollbar {
  height: 0;
  width: 0;
}

.schedule {
  color: white;
  text-align: center;
  font-size: 300%;
  margin-top: 8%;
  font-family: 'Cinzel', serif;
}

.teachers_messages {
  color: white;
  text-align: center;
  font-size: 5rem;
  margin-top: 10%;
  font-family: 'Cinzel', serif;
}

.teachers_messages p {
  font-size: 1.625rem;
  text-align: left;
  text-align: center;
  padding: 10%;
}

.about {
  color: white;
  text-align: center;
  font-size: 100%;
  margin-top: 10%;
  font-family: 'Cinzel', serif;
}

.about p {
  font-size: 1.625rem;
  text-align: left;
  text-align: center;
  padding: 10%;
}

.cse {
  color: white;
  text-align: center;
  font-size: 3.5rem;
  margin-top: 10%;
  font-family: 'Cinzel', serif;
}

.cse p {
  font-size: 1.625rem;
  text-align: left;
  text-align: center;
  padding: 10%;
}

.container {
  /* margin: 20px 40px; */
  color: white;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr)) ;
  justify-content: center;
}


.profile {
  flex-basis: 260px;
  justify-content: center;
}

.profile .profile-img {
  width: 50%;
  border-radius: 10%;
  filter: grayscale(100%);
  cursor: pointer;
  transition: 400ms;
}

.profile:hover .profile-img {
  filter: grayscale(0);
}

.user-name {
  margin-top: 10%;
  font-size: 35px;
}

.profile h5 {
  font-size: 18px;
  font-weight: 100;
  letter-spacing: 3px;
  color: #ccc;
}

.profile p {
  font-size: 16px;
  margin-top: 20px;
  text-align: justify;
}

.team {
  /* margin: %; */
  /* margin-left: 0px; */
}

.team h1{
 font-size: 4rem;
 text-align: center;
 color: #ffffff;
 margin-bottom: 10%;
 font-family: 'Cinzel', serif;
}

.ico {
  color: white;
  font-size: 34px;
  margin-left: 5%;
  margin-right: 5%;
}
.profile p{
  font-size: 2px;
}

/* ------------------event_0page--------------- */
.event2 {
  display: grid;
  grid-template-columns: auto auto;
  color: #b1b1b1;
  justify-content: center;
  margin-top: 10%;
}

#photo img {
  width: 50%;
}
/*Fotter*/

.footer-basic {
  padding:1.25rem 0px;
  background-color:#3d3d3d;
  color:#ffffff;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}




/*Chetan Event Page*/

  
main{
  display: flex;
  flex-direction: column;
  /* margin: 40px 0px 0px 0px; */
  justify-content: space-between;

}

.main-body{
  /* margin: 190px 0px 0px 0px; */
  display: flex;
  /* padding: 0vw 2vw; */
  justify-content: center;
}

p{
  color: white;
}

.abc{
  /* height: calc(100% - 48px - 11%); */
  /* height: 90vh; */
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 30px;
  /* background-color: aqua; */
}
.event-img{
  background-image: url(/img/img1.jpg) ;
  /* border: 3px solid rgb(255, 255, 255); */
  background-size: 220px;
  background-position: center;
  background-repeat: no-repeat;
  height: 280px;
  width: 280px;

  /* height: fit-content; */
  /* width: fit-content; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.all-button {
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 160px;
  width: 300px;
  align-items: center;
  gap: 20% 0;
}
.all-button a{
  width: 75%;
  margin: 2%;
}
a{
  text-decoration: none;
  color: rgb(255, 254, 254);
}

.register{
  /* margin: 4%; */
  /* padding: 0% 0%; */
  /* background-color:rgb(59, 173, 226); */
  border: 2px solid rgb(255, 255, 255);
  /* margin: 0; */
  width: 100%;
  text-align: center;
  height: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.prob-state{
  /* padding: 4%; */
  /* margin: ; */
  /* background-color: rgb(151, 59, 236); */
  border: 2px solid rgb(255, 255, 255);
  /* margin: 0; */
  width: 100%;
  text-align: center;
  height: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.submit{
  /* padding: 4%; */
  /* margin: 4%; */
  /* background-color: rgb(34, 236, 68); */
  border: 2px solid rgb(255, 255, 255);
  /* margin: 0; */
  width: 100%;
  text-align: center;
  height: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.prob-state{
  font-size: 1.6rem;
}
.space{
  width: 2%;
  /* background-color: white; */
}


.details{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  height: 90vh;
  width: 70vw;
  margin-left: 30px;
  /* background-color:rebeccapurple; */
}
.event-name{
  margin: 2% 0% 0% 0%;
  height: 20%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.nav-bar{
  display: flex;
  /* background-color: crimson; */
  /* border: 2px solid black; */
  height: 40px;
}
.contain{
  display: flex;
  justify-content: space-evenly;
  height: 300px;
  margin: 2% 0% 0% 0% ;
  /* border: 2px solid rgb(255, 255, 255); */
  padding: 2%;
  /* background-color: rgb(216, 216, 30); */
}
.contain-img{
  display: flex;
  justify-content: space-evenly;
  height: 40vh;
  margin: 2% 0% 0% 0% ;
  border: 2px solid rgb(255, 255, 255);
  /* background-color: rgb(216, 216, 30); */
}
.contain p{
  font-size: 1.5rem;
  padding: 5%;
}
main{
  background-color: #32151f3f;
}

.register p{
  font-size: 1.25vw;
}
.submit p{
  font-size: 1.25vw;
  /* font-size: 20px; */
}

.nav-bar button{
  width: 20%;
  border-radius: 8px;
  cursor: pointer;
  margin: 0% auto;
  padding: 0% 5%;
  border: 2px solid black;
  background-color: rgba(153, 238, 227, 0.911);
  font-size: 2rem;
  /* background-color: rgb(21, 243, 206); */
}
.first{
  /* background-color: rgb(138, 245, 165); */
  width: 40%;
}
.person1{
  background-image: url(/img/img1.jpg) ;
  /* border: 3px solid black; */
  background-size: 30%;
  background-position: center;
  background-repeat: no-repeat;
  height: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.person1-details{
  padding: 5% 0% 0% 20%;
  height: 35%
}
.second{
  width: 40%;
  /* background-color: rgb(75, 236, 241); */
}
.person2{
  background-image: url(/img/img2.jpg) ;
  /* border: 3px solid black; */
  background-size: 30%;
  background-position: center;
  background-repeat: no-repeat;
  height: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.person2-details{
  padding: 5% 0% 0% 20%;
  height: 35%
}






















































@media (max-width: 678px){

  .countdown{
    font-size: 1rem;
  }
  .schedule{
    font-size: 5rem;
  }
  .container {
    margin: 20px 9px;
    color: white;
    display: grid;
    grid-template-columns: auto auto auto  ;
    justify-content: center;
  }
  .container h5{
    font-size: 1.23rem;
    margin-top: 10%;
  }
  .profile{
    text-align: center;
  }

}
